<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <span class="title"><clr-icon shape="employee-group"></clr-icon>Contacts</span>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">

      <clr-datagrid>
        <clr-dg-column>ID</clr-dg-column>
        <clr-dg-column>Honorific</clr-dg-column>
        <clr-dg-column>First</clr-dg-column>
        <clr-dg-column>Middle</clr-dg-column>
        <clr-dg-column>Last</clr-dg-column>
        <clr-dg-column>Cell</clr-dg-column>
        <clr-dg-column>Phone</clr-dg-column>
        <clr-dg-column>Active</clr-dg-column>
        <clr-dg-column>Birthday</clr-dg-column>

        <clr-dg-row *ngFor="let contact of contacts$ | async">
          <clr-dg-cell>{{contact.id}}</clr-dg-cell>
          <clr-dg-cell>{{contact.honorific}}</clr-dg-cell>
          <clr-dg-cell>{{contact.firstName}}</clr-dg-cell>
          <clr-dg-cell>{{contact.middleName}}</clr-dg-cell>
          <clr-dg-cell>{{contact.lastName}}</clr-dg-cell>
          <clr-dg-cell>{{contact.cellPhone}}</clr-dg-cell>
          <clr-dg-cell>{{contact.landPhone}}</clr-dg-cell>
          <clr-dg-cell>{{contact.active}}</clr-dg-cell>
          <clr-dg-cell>{{contact.birthday | date}}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>

    </div>
  </div>
</div>
